# Installation specific config files
docker-compose.yml
.env

# Generated BLN data
DATA

# MySQL internal data
mysql/data

# Prefect internal data
prefect/data

# Documentation dockers not finished yet
vitepress
sphinx


# OTHER: Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class