docker-compose.yml

# OLD stuff
OLD

# Generated BLN data
DATA

# MySQL internal data
mysql/data

# Documentation dockers not finished yet
vitepress
sphinx


# OTHER: Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class