
# Various libraries
requests==2.32.5
bs4==0.0.2
joblib==1.5.3
bcrypt==5.0.0
python-dotenv==1.2.1
pandas==2.3.3


# Flask
Flask==3.1.2
Flask-RESTful==0.3.10
Flask-Cors==6.0.2
Flask-SocketIO==5.6.0
Flask-Login==0.6.3


# Bitcoin specific
pyln-proto==25.12.1
jsonrpclib-pelix==1.0.0
bech32==1.2.0
python-bitcoinrpc==1.0


# Charts
matplotlib==3.10.8

# Tests
pytest==9.0.2

# Mysql
mysql-connector-python==9.5.0

# Prefect
prefect==3.6.11
